.tasks-control{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 20px;
    background-color: #E6FFF8;
    margin: 40px 30%;
    padding: 20px ;
}

@media screen and (max-width: 900px) {
    .tasks-control{
        font-size: 17px;
        margin: 40px 20%;
    }   
}

@media screen and (max-width: 600px) {
    .tasks-control{
        font-size: 15px;
        margin: 40px 14%;
    }   
}

.duty{
    margin: 0px 30px;
}

.action{
    color: #ff6b81 !important;
}

.btn-duty{
    background-color: #2193b0;
    border: 0px;
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 25px;
}
