.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.header ul li{
    margin-right: 50px;
    font-size: 45px;
}

.header ul li a{
    color:#FD7272;
}

@media screen and (max-width:450px) {
    .header ul li{
        font-size: 35px;
        margin-right: 30px;
    }
    
}