.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.header ul li{
    margin-right: 50px;
    font-size: 30px;
}

.header ul li a{
    color:#833471;
}